@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 17, 17, 17;
  --primary-color: #ff7518; /* Pumpkin Orange */
  --secondary-color: #4b0082; /* Dark Purple */
  --accent-color: #ffcc00; /* Bright Yellow */
}

@layer base {
  body {
    @apply bg-gradient-to-b from-[#222] to-[#111] text-white;
  }
}
